 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("/images/Galaxy.jpg"); 
}

.u-section-1 .u-sheet-1 {
  min-height: 739px;
}

.u-section-1 .u-image-1 {
  width: 266px;
  height: 252px;
  margin: 197px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-family: Shentox_Regular;
  font-weight: 800;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-family: Shentox_Regular;
  width: 785px;
  margin: 5px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
    background-size: auto 125%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 609px;
  }

  .u-section-1 .u-text-1 {
    font-weight: 700;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 466px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 646px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-text-1 {
  font-family: Shentox_Regular;
  font-weight: 700;
  margin: 16px auto 0;
}

.u-section-2 .u-line-1 {
  width: 632px;
  margin: 16px auto 0;
}

.u-section-2 .u-image-1 {
  width: 235px;
  height: 223px;
  margin: 53px auto 0 323px;
}

.u-section-2 .u-image-2 {
  width: 218px;
  height: 218px;
  margin: -218px 352px 0 auto;
}

.u-section-2 .u-text-2 {
  font-weight: 300;
  font-family: Shentox_Regular;
  font-size: 1.5rem;
  margin: 24px 352px 0 323px;
}

.u-section-2 .u-text-3 {
  font-family: Shentox_Regular;
  width: 699px;
  margin: 35px auto 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-weight: 200;
  padding: 0;
}

.u-section-2 .u-text-4 {
  font-family: Shentox_Regular;
  width: 699px;
  margin: 16px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-left: 123px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-line-1 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 305px;
  }

  .u-section-2 .u-image-2 {
    margin-right: 322px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    margin-right: 172px;
  }

  .u-section-2 .u-text-3 {
    width: 540px;
  }

  .u-section-2 .u-text-4 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-line-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 105px;
  }

  .u-section-2 .u-image-2 {
    margin-right: 122px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    width: 340px;
  }

  .u-section-2 .u-text-4 {
    width: 340px;
  }
}@font-face {
  font-family: 'Shentox_Regular';
  font-style: normal;
  font-weight: 400;
  src: url(https://assets.nicepagecdn.com/915d4c80/5371377/fonts/Shentox_Regular.otf);
}
