.u-section-1 {
  background-image: url("/community/wiki/storyDatabase/SDTB-AAH.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 916px;
}

.u-section-1 .u-group-1 {
  width: 570px;
  height: auto;
  min-height: 208px;
  --radius: 50px;
  margin: 661px auto 48px;
}

.u-section-1 .u-container-layout-1 {
  padding: 11px 12px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-family: Shentox_Regular;
  margin: 45px auto 0;
}

.u-section-1 .u-text-2 {
  font-family: Shentox_Regular;
  margin: 0 auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-size: auto 110%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 755px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 578px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 434px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 273px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}

.u-section-2 .u-sheet-1 {
  min-height: 1850px;
}

.u-section-2 .u-text-1 {
  font-family: Shentox_Regular;
  font-size: 2.25rem;
  margin: 21px auto 0;
}

.u-section-2 .u-image-1 {
  width: 484px;
  height: 484px;
  margin: 28px 40px 0 auto;
}

.u-section-2 .u-text-2 {
  font-family: Shentox_Regular;
  font-size: 1.875rem;
  margin: -471px 534px 0 41px;
}

.u-section-2 .u-line-1 {
  width: 474px;
  transform-origin: left center;
  height: 3px;
  margin: 0 625px 0 41px;
}

.u-section-2 .u-text-3 {
  font-family: Shentox_Regular;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 29px 534px 0 41px;
}

.u-section-2 .u-text-4 {
  font-family: Shentox_Regular;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 534px 0 41px;
}

.u-section-2 .u-text-5 {
  font-family: Shentox_Regular;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 534px 0 40px;
}

.u-section-2 .u-text-6 {
  font-family: Shentox_Regular;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 534px 0 41px;
}

.u-section-2 .u-text-7 {
  font-family: Shentox_Regular;
  font-size: 1.5rem;
  font-weight: 200;
  margin: 0 534px 0 41px;
}

.u-section-2 .u-text-8 {
  font-family: Shentox_Regular;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 30px 550px 0 40px;
}

.u-section-2 .u-text-9 {
  font-family: Shentox_Regular;
  font-weight: 700;
  font-size: 1.5rem;
  margin: -1px 534px 0 41px;
}

.u-section-2 .u-text-10 {
  font-family: Shentox_Regular;
  font-size: 1.5rem;
  font-weight: 200;
  margin: 0 534px 0 41px;
}

.u-section-2 .u-text-11 {
  font-family: Shentox_Regular;
  font-size: 1.875rem;
  margin: 218px auto 0 40px;
}

.u-section-2 .u-line-2 {
  width: 474px;
  transform-origin: left center;
  margin: 0 auto 0 38px;
}

.u-section-2 .u-text-12 {
  font-family: Shentox_Regular;
  font-size: 1.25rem;
  margin: 10px 40px 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-image-2 {
  width: 251px;
  height: 300px;
  margin: 101px 66px 0 auto;
}

.u-section-2 .u-text-13 {
  font-family: Shentox_Regular;
  font-size: 1.875rem;
  margin: -224px 627px 0 40px;
}

.u-section-2 .u-line-3 {
  width: 474px;
  transform-origin: left center;
  margin: 0 626px 0 40px;
}

.u-section-2 .u-text-14 {
  font-family: Shentox_Regular;
  font-size: 1.25rem;
  font-weight: 200;
  margin: 10px 358px 60px 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-top: 20px;
    margin-right: 375px;
    margin-left: 0;
  }

  .u-section-2 .u-line-1 {
    margin-right: 466px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 375px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 375px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 375px;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 375px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 375px;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 390px;
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-top: 20px;
    margin-right: 375px;
    margin-left: 0;
  }

  .u-section-2 .u-text-10 {
    margin-right: 375px;
    margin-left: 0;
  }

  .u-section-2 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: 177px;
  }

  .u-section-2 .u-text-13 {
    margin-top: -300px;
    margin-right: 467px;
    margin-left: 0;
  }

  .u-section-2 .u-line-3 {
    margin-right: 466px;
    margin-left: 0;
  }

  .u-section-2 .u-text-14 {
    margin-right: 198px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-right: 155px;
  }

  .u-section-2 .u-line-1 {
    margin-right: 246px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 155px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 155px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 155px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 155px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 155px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 170px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 155px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 155px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 247px;
  }

  .u-section-2 .u-line-3 {
    margin-right: 246px;
  }

  .u-section-2 .u-text-14 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-line-1 {
    margin-right: 66px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    font-size: 1rem;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    font-size: 1rem;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    font-size: 1rem;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    font-size: 1rem;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    font-size: 1rem;
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    font-size: 1rem;
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    font-size: 1rem;
  }

  .u-section-2 .u-image-2 {
    margin-top: 171px;
  }

  .u-section-2 .u-text-13 {
    margin-top: -295px;
    margin-right: 67px;
  }

  .u-section-2 .u-line-3 {
    margin-right: 66px;
  }

  .u-section-2 .u-text-14 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 10671px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-line-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-line-2 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: 336px;
    margin-right: auto;
  }

  .u-section-2 .u-text-13 {
    margin-top: -459px;
    margin-right: 0;
  }

  .u-section-2 .u-line-3 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-text-14 {
    width: auto;
    margin-top: 11px;
  }
}