section > div > p > span > a { /* Die ene hyperlink rood maken */
  color: red !important;
}

blockquote {
  font-family: 'Aeonis_Regular';
  font-size: 25px;
}

.u-section-1 {
  background-image: url("./FSDTB-ACOE.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
    min-height: 916px;
  }
  
  .u-section-1 .u-group-1 {
    width: 570px;
    height: auto;
    min-height: 208px;
    --radius: 50px;
    margin: 661px auto 48px;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 11px 12px;
  }
  
  .u-section-1 .u-text-1 {
    font-size: 3rem;
    font-family: Shentox_Regular;
    margin: 45px auto 0;
  }
  
  .u-section-1 .u-text-2 {
    font-family: Shentox_Regular;
    margin: 0 auto;
  }
  
  @media (max-width: 1199px) {
     .u-section-1 {
      background-size: auto 110%;
    }
  
    .u-section-1 .u-sheet-1 {
      min-height: 755px;
    }
  
    .u-section-1 .u-group-1 {
      height: auto;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
      min-height: 578px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
      min-height: 434px;
    }
  
    .u-section-1 .u-group-1 {
      width: 540px;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
      min-height: 273px;
    }
  
    .u-section-1 .u-group-1 {
      width: 340px;
    }
  
    .u-section-1 .u-text-1 {
      font-size: 2.25rem;
    }
  }
  
  .u-section-2 .u-line-1 {
    width: 474px;
    transform-origin: left center;
    position: absolute;
    top: 2271px;
    left: 42px;
  }
  
  .u-section-2 .u-line-2 {
    transform-origin: left center;
    position: absolute;
    top: 3662px;
    height: 3px;
    left: 0;
  }
  
  .u-section-2 .u-line-3 {
    width: 474px;
    transform-origin: left center;
    position: absolute;
    top: 1925px;
    left: 41px;
  }
  
  .u-section-2 .u-line-4 {
    width: 474px;
    transform-origin: left center;
    position: absolute;
    top: 1225px;
    left: 37px;
  }
  
  .u-section-2 .u-line-5 {
    width: 474px;
    transform-origin: left center;
    position: absolute;
    top: 2583px;
    left: 40px;
  }
  
  .u-section-2 .u-line-6 {
    width: 474px;
    transform-origin: left center;
    position: absolute;
    top: 3052px;
    left: 40px;
  }
  
  .u-section-2 .u-line-7 {
    width: 474px;
    transform-origin: left center;
    position: absolute;
    top: 4520px;
    left: 40px;
  }
  
  .u-section-2 .u-line-8 {
    width: 474px;
    transform-origin: left center;
    position: absolute;
    top: 5114px;
    left: 40px;
  }
  
  .u-section-2 .u-text-1 {
    font-family: Shentox_Regular;
    font-size: 2.25rem;
    margin: 21px auto 0;
  }
  
  .u-section-2 .u-image-1 {
    width: 484px;
    height: 484px;
    margin: 28px 40px 0 auto;
  }
  
  .u-section-2 .u-text-2 {
    font-family: Shentox_Regular;
    font-size: 1.875rem;
    margin: -471px 534px 0 41px;
  }
  
  .u-section-2 .u-line-9 {
    width: 474px;
    transform-origin: left center;
    height: 3px;
    margin: 0 625px 0 41px;
  }
  
  .u-section-2 .u-text-3 {
    font-family: Shentox_Regular;
    font-weight: 700;
    font-size: 1.5rem;
    margin: 29px 534px 0 41px;
  }
  
  .u-section-2 .u-text-4 {
    font-family: Shentox_Regular;
    font-weight: 700;
    font-size: 1.5rem;
    margin: 0 534px 0 41px;
  }
  
  .u-section-2 .u-text-5 {
    font-family: Shentox_Regular;
    font-weight: 700;
    font-size: 1.5rem;
    margin: 0 534px 0 40px;
  }
  
  .u-section-2 .u-text-6 {
    font-family: Shentox_Regular;
    font-weight: 700;
    font-size: 1.5rem;
    margin: 0 534px 0 41px;
  }
  
  .u-section-2 .u-text-7 {
    font-family: Shentox_Regular;
    font-size: 1.5rem;
    font-weight: 200;
    margin: 0 534px 0 41px;
  }
  
  .u-section-2 .u-text-8 {
    font-family: Shentox_Regular;
    font-weight: 700;
    font-size: 1.5rem;
    margin: 30px 550px 0 40px;
  }
  
  .u-section-2 .u-text-9 {
    font-family: Shentox_Regular;
    font-weight: 700;
    font-size: 1.5rem;
    margin: -1px 534px 0 41px;
  }
  
  .u-section-2 .u-text-10 {
    font-family: Shentox_Regular;
    font-size: 1.5rem;
    font-weight: 200;
    margin: 0 534px 0 41px;
  }
  
  .u-section-2 .u-text-11 {
    font-family: Shentox_Regular;
    font-size: 1.875rem;
    margin: 218px auto 0 40px;
  }
  
  .u-section-2 .u-line-10 {
    width: 474px;
    transform-origin: left center;
    margin: 0 auto 0 38px;
  }
  
  .u-section-2 .u-text-12 {
    font-family: Shentox_Regular;
    font-size: 1.25rem;
    margin: 10px 40px 0;
  }
  
  .u-section-2 .u-btn-1 {
    background-image: none;
    padding: 0;
  }
  
  .u-section-2 .u-text-13 {
    font-family: Shentox_Regular;
    font-size: 1.875rem;
    margin: 78px 625px 0 42px;
  }
  
  .u-section-2 .u-line-11 {
    width: 474px;
    transform-origin: left center;
    margin: 0 624px 0 42px;
  }
  
  .u-section-2 .u-text-14 {
    font-family: Shentox_Regular;
    font-size: 1.25rem;
    font-weight: 200;
    margin: 7px 42px 0;
  }
  
  .u-section-2 .u-btn-2 {
    background-image: none;
    padding: 0;
  }
  
  .u-section-2 .u-btn-3 {
    background-image: none;
    padding: 0;
  }
  
  .u-section-2 .u-text-15 {
    font-family: Shentox_Regular;
    font-size: 1.875rem;
    margin: 71px 630px 0 40px;
  }
  
  .u-section-2 .u-text-16 {
    font-family: Shentox_Regular;
    font-size: 1.25rem;
    font-weight: 200;
    margin: 9px 42px 0;
  }
  
  .u-section-2 .u-btn-4 {
    background-image: none;
    padding: 0;
  }
  
  .u-section-2 .u-image-2 {
    width: 300px;
    height: 300px;
    margin: 45px 53px 0 auto;
  }
  
  .u-section-2 .u-text-17 {
    font-family: Shentox_Regular;
    font-size: 1.875rem;
    margin: -266px 630px 0 40px;
  }
  
  .u-section-2 .u-text-18 {
    font-family: Shentox_Regular;
    font-size: 1.25rem;
    font-weight: 200;
    margin: 13px 410px 0 38px;
  }
  
  .u-section-2 .u-btn-5 {
    background-image: none;
    padding: 0;
  }
  
  .u-section-2 .u-image-3 {
    width: 299px;
    height: 300px;
    margin: 120px auto 0 794px;
  }
  
  .u-section-2 .u-text-19 {
    font-family: Shentox_Regular;
    font-size: 1.875rem;
    margin: -294px 630px 0 40px;
  }
  
  .u-section-2 .u-text-20 {
    font-family: Shentox_Regular;
    font-size: 1.25rem;
    font-weight: 200;
    margin: 13px 408px 0 40px;
  }
  
  .u-section-2 .u-text-21 {
    font-family: Shentox_Regular;
    font-size: 1.875rem;
    margin: 225px 512px 0 42px;
  }
  
  .u-section-2 .u-text-22 {
    font-family: Shentox_Regular;
    font-size: 1.25rem;
    font-weight: 200;
    margin: 13px 363px 0 40px;
  }
  
  .u-section-2 .u-image-4 {
    width: 295px;
    height: 290px;
    margin: -1241px 37px 0 808px;
  }
  
  .u-section-2 .u-image-5 {
    width: 295px;
    height: 293px;
    margin: 88px 37px 0 auto;
  }
  
  .u-section-2 .u-image-6 {
    width: 295px;
    height: 300px;
    margin: 690px 34px 0 auto;
  }
  
  .u-section-2 .u-text-23 {
    font-family: Shentox_Regular;
    font-size: 1.875rem;
    margin: -295px 514px 0 40px;
  }
  
  .u-section-2 .u-text-24 {
    font-family: Shentox_Regular;
    font-size: 1.25rem;
    font-weight: 200;
    margin: 13px 363px 0 40px;
  }
  
  .u-section-2 .u-text-25 {
    font-family: Shentox_Regular;
    font-size: 1.875rem;
    margin: 125px auto 0 40px;
  }
  
  .u-section-2 .u-line-12 {
    width: 474px;
    transform-origin: left center;
    margin: 0 auto 0 40px;
  }
  
  .u-section-2 .u-text-26 {
    font-family: Shentox_Regular;
    font-size: 1.25rem;
    font-weight: 200;
    margin: 10px auto 0 40px;
  }
  
  .u-section-2 .u-btn-6 {
    background-image: none;
    padding: 0;
  }
  
  .u-section-2 .u-btn-7 {
    background-image: none;
    padding: 0;
  }
  
  .u-section-2 .u-text-27 {
    font-family: Shentox_Regular;
    font-size: 1.875rem;
    margin: 124px 514px 0 40px;
  }
  
  .u-section-2 .u-text-28 {
    font-family: Shentox_Regular;
    font-size: 1.25rem;
    font-weight: 200;
    margin: 13px 40px 0;
  }
  
  .u-section-2 .u-text-29 {
    margin: 10px 40px 0;
  }
  
  .u-section-2 .u-text-30 {
    margin: 10px 40px 0;
  }
  
  .u-section-2 .u-text-31 {
    margin: 27px 40px 0;
  }
  
  .u-section-2 .u-text-32 {
    margin: 10px 40px 0;
  }
  
  .u-section-2 .u-text-33 {
    margin: 10px 40px 0;
  }
  
  .u-section-2 .u-text-34 {
    margin: 21px 40px 0;
  }
  
  .u-section-2 .u-text-35 {
    margin: 10px 40px 0;
  }
  
  .u-section-2 .u-text-36 {
    margin: 21px 40px 0;
  }
  
  .u-section-2 .u-text-37 {
    margin: 10px 40px 0;
  }
  
  .u-section-2 .u-text-38 {
    margin: 21px 40px 0;
  }
  
  .u-section-2 .u-text-39 {
    margin: 10px 40px 0;
  }
  
  .u-section-2 .u-text-40 {
    margin: 21px 40px 0;
  }
  
  .u-section-2 .u-text-41 {
    margin: 13px 40px 60px;
  }
  
  @media (max-width: 1199px) {
    .u-section-2 .u-text-2 {
      margin-top: 20px;
      margin-right: 375px;
      margin-left: 0;
      margin-bottom: initial;
    }
  
    .u-section-2 .u-line-9 {
      margin-right: 466px;
      margin-left: 0;
    }
  
    .u-section-2 .u-text-3 {
      margin-right: 375px;
      margin-left: 0;
    }
  
    .u-section-2 .u-text-4 {
      margin-right: 375px;
      margin-left: 0;
    }
  
    .u-section-2 .u-text-5 {
      margin-right: 375px;
      margin-left: 0;
    }
  
    .u-section-2 .u-text-6 {
      margin-right: 375px;
      margin-left: 0;
    }
  
    .u-section-2 .u-text-7 {
      margin-right: 375px;
      margin-left: 0;
    }
  
    .u-section-2 .u-text-8 {
      margin-right: 390px;
      margin-left: 0;
    }
  
    .u-section-2 .u-text-9 {
      margin-top: 20px;
      margin-right: 375px;
      margin-left: 0;
      margin-bottom: initial;
    }
  
    .u-section-2 .u-text-10 {
      margin-right: 375px;
      margin-left: 0;
    }
  
    .u-section-2 .u-text-12 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-2 .u-text-13 {
      margin-right: 467px;
      margin-left: 0;
    }
  
    .u-section-2 .u-line-11 {
      margin-right: 466px;
      margin-left: 0;
    }
  
    .u-section-2 .u-text-14 {
      margin-right: 0;
      margin-left: 0;
    }
  
    .u-section-2 .u-text-15 {
      margin-right: 470px;
      margin-left: 0;
    }
  
    .u-section-2 .u-text-16 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-2 .u-text-17 {
      margin-right: 470px;
      margin-left: 0;
    }
  
    .u-section-2 .u-text-18 {
      margin-right: 248px;
      margin-left: 0;
    }
  
    .u-section-2 .u-image-3 {
      margin-left: 641px;
    }
  
    .u-section-2 .u-text-19 {
      margin-right: 470px;
      margin-left: 0;
    }
  
    .u-section-2 .u-text-20 {
      margin-right: 248px;
      margin-left: 0;
    }
  
    .u-section-2 .u-text-21 {
      margin-right: 354px;
      margin-left: 0;
    }
  
    .u-section-2 .u-text-22 {
      margin-right: 203px;
      margin-left: 0;
    }
  
    .u-section-2 .u-image-4 {
      margin-top: 20px;
      margin-right: 0;
      margin-left: 645px;
      margin-bottom: initial;
    }
  
    .u-section-2 .u-text-23 {
      margin-right: 354px;
      margin-left: 0;
    }
  
    .u-section-2 .u-text-24 {
      margin-right: 203px;
      margin-left: 0;
    }
  
    .u-section-2 .u-text-25 {
      margin-left: 0;
    }
  
    .u-section-2 .u-line-12 {
      margin-left: 0;
    }
  
    .u-section-2 .u-text-26 {
      margin-left: 0;
    }
  
    .u-section-2 .u-text-27 {
      margin-right: 354px;
      margin-left: 0;
    }
  
    .u-section-2 .u-text-28 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-2 .u-text-29 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-2 .u-text-30 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-2 .u-text-31 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-2 .u-text-32 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-2 .u-text-33 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-2 .u-text-34 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-2 .u-text-35 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-2 .u-text-36 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-2 .u-text-37 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-2 .u-text-38 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-2 .u-text-39 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-2 .u-text-40 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-2 .u-text-41 {
      margin-left: 0;
      margin-right: 0;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-2 .u-text-2 {
      margin-right: 155px;
      margin-bottom: 0;
    }
  
    .u-section-2 .u-line-9 {
      margin-right: 246px;
    }
  
    .u-section-2 .u-text-3 {
      margin-right: 155px;
    }
  
    .u-section-2 .u-text-4 {
      margin-right: 155px;
    }
  
    .u-section-2 .u-text-5 {
      margin-right: 155px;
    }
  
    .u-section-2 .u-text-6 {
      margin-right: 155px;
    }
  
    .u-section-2 .u-text-7 {
      margin-right: 155px;
    }
  
    .u-section-2 .u-text-8 {
      margin-right: 170px;
    }
  
    .u-section-2 .u-text-9 {
      margin-right: 155px;
      margin-bottom: 0;
    }
  
    .u-section-2 .u-text-10 {
      margin-right: 155px;
    }
  
    .u-section-2 .u-text-13 {
      margin-right: 247px;
    }
  
    .u-section-2 .u-line-11 {
      margin-right: 246px;
    }
  
    .u-section-2 .u-text-15 {
      margin-right: 250px;
    }
  
    .u-section-2 .u-text-17 {
      margin-top: 20px;
      margin-right: 250px;
      margin-bottom: initial;
    }
  
    .u-section-2 .u-text-18 {
      margin-right: 28px;
    }
  
    .u-section-2 .u-image-3 {
      margin-left: 421px;
    }
  
    .u-section-2 .u-text-19 {
      margin-top: 20px;
      margin-right: 250px;
      margin-bottom: initial;
    }
  
    .u-section-2 .u-text-20 {
      margin-right: 28px;
    }
  
    .u-section-2 .u-text-21 {
      margin-right: 134px;
    }
  
    .u-section-2 .u-text-22 {
      margin-right: 0;
    }
  
    .u-section-2 .u-image-4 {
      margin-bottom: 0;
      margin-left: 425px;
    }
  
    .u-section-2 .u-text-23 {
      margin-top: 20px;
      margin-right: 134px;
      margin-bottom: initial;
    }
  
    .u-section-2 .u-text-24 {
      margin-right: 0;
    }
  
    .u-section-2 .u-text-27 {
      margin-right: 134px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-2 .u-text-2 {
      margin-right: 0;
    }
  
    .u-section-2 .u-line-9 {
      margin-right: 66px;
    }
  
    .u-section-2 .u-text-3 {
      font-size: 1rem;
      margin-right: 0;
    }
  
    .u-section-2 .u-text-4 {
      font-size: 1rem;
      margin-right: 0;
    }
  
    .u-section-2 .u-text-5 {
      font-size: 1rem;
      margin-right: 0;
    }
  
    .u-section-2 .u-text-6 {
      font-size: 1rem;
      margin-right: 0;
    }
  
    .u-section-2 .u-text-7 {
      font-size: 1rem;
      margin-right: 0;
    }
  
    .u-section-2 .u-text-8 {
      font-size: 1rem;
      margin-right: 0;
    }
  
    .u-section-2 .u-text-9 {
      font-size: 1rem;
      margin-right: 0;
    }
  
    .u-section-2 .u-text-10 {
      font-size: 1rem;
      margin-right: 0;
    }
  
    .u-section-2 .u-text-12 {
      font-size: 1rem;
    }
  
    .u-section-2 .u-text-13 {
      margin-right: 67px;
    }
  
    .u-section-2 .u-line-11 {
      margin-right: 66px;
    }
  
    .u-section-2 .u-text-14 {
      font-size: 1rem;
    }
  
    .u-section-2 .u-text-15 {
      margin-right: 70px;
    }
  
    .u-section-2 .u-text-16 {
      font-size: 1rem;
    }
  
    .u-section-2 .u-text-17 {
      margin-right: 70px;
      margin-bottom: 0;
    }
  
    .u-section-2 .u-text-18 {
      font-size: 1rem;
      margin-right: 0;
    }
  
    .u-section-2 .u-image-3 {
      margin-left: 241px;
    }
  
    .u-section-2 .u-text-19 {
      margin-right: 70px;
      margin-bottom: 0;
    }
  
    .u-section-2 .u-text-20 {
      font-size: 1rem;
      margin-right: 0;
    }
  
    .u-section-2 .u-text-21 {
      margin-right: 0;
    }
  
    .u-section-2 .u-text-22 {
      font-size: 1rem;
    }
  
    .u-section-2 .u-image-4 {
      margin-left: 245px;
    }
  
    .u-section-2 .u-text-23 {
      margin-right: 0;
      margin-bottom: 0;
    }
  
    .u-section-2 .u-text-24 {
      font-size: 1rem;
    }
  
    .u-section-2 .u-text-26 {
      font-size: 1rem;
    }
  
    .u-section-2 .u-text-27 {
      margin-right: 0;
    }
  
    .u-section-2 .u-text-28 {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-2 .u-sheet-1 {
      min-height: 10671px;
    }
  
    .u-section-2 .u-line-1 {
      width: auto;
    }
  
    .u-section-2 .u-line-3 {
      width: auto;
    }
  
    .u-section-2 .u-line-4 {
      width: 340px;
    }
  
    .u-section-2 .u-line-5 {
      width: auto;
    }
  
    .u-section-2 .u-line-6 {
      width: auto;
    }
  
    .u-section-2 .u-line-7 {
      width: auto;
    }
  
    .u-section-2 .u-line-8 {
      width: auto;
    }
  
    .u-section-2 .u-image-1 {
      width: 340px;
      height: 340px;
      margin-right: 0;
    }
  
    .u-section-2 .u-line-9 {
      width: 340px;
      margin-right: 0;
    }
  
    .u-section-2 .u-line-10 {
      width: 340px;
      margin-left: 0;
    }
  
    .u-section-2 .u-text-13 {
      margin-right: 0;
    }
  
    .u-section-2 .u-line-11 {
      width: 340px;
      margin-right: 0;
    }
  
    .u-section-2 .u-text-14 {
      width: auto;
      margin-top: 11px;
    }
  
    .u-section-2 .u-text-15 {
      margin-top: 66px;
      margin-right: 0;
    }
  
    .u-section-2 .u-text-16 {
      width: auto;
      margin-top: 14px;
    }
  
    .u-section-2 .u-image-2 {
      margin-top: 50px;
      margin-left: 20px;
      margin-right: 20px;
    }
  
    .u-section-2 .u-text-17 {
      margin-top: 10px;
      margin-right: 0;
    }
  
    .u-section-2 .u-image-3 {
      margin-top: 130px;
      margin-left: auto;
    }
  
    .u-section-2 .u-text-19 {
      margin-top: 10px;
      margin-right: 0;
    }
  
    .u-section-2 .u-image-4 {
      margin-left: 45px;
    }
  
    .u-section-2 .u-line-12 {
      width: 340px;
    }
  }



@keyframes smoothHeader {
  from { opacity: 0; }
  to { opacity: 1; }
}