@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

body {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('/images/community/Lore-NetBG.jpg');
}

.u-section-1 .u-sheet-1 {
  min-height: 917px;
}

.u-section-1 .u-group-1 {
  width: 570px;
  height: auto;
  min-height: 463px;
  --radius: 50px;
  margin: 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-family: Shentox_Regular;
  margin: 27px auto 0;
}

.u-section-1 .u-line-1 {
  width: 493px;
  transform-origin: right center;
  margin: 16px auto 0;
}

.u-section-1 .u-group-2 {
  width: 494px;
  height: auto;
  --radius: 15px;
  min-height: 58px;
  transition-duration: 0.5s;
  background-image: linear-gradient(270deg, #1a1a1a, #7c0000);
  margin: 27px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-image-1 {
  width: 68px;
  height: 68px;
  margin: -10px auto 0 20px;
}

.u-section-1 .u-text-2 {
  font-weight: 300;
  font-family: Shentox_Regular;
  font-size: 1.5rem;
  margin: -46px 57px 0 auto;
}

.u-section-1 .u-group-3 {
  height: auto;
  --radius: 15px;
  min-height: 58px;
  width: 494px;
  transition-duration: 0.5s;
  background-image: linear-gradient(270deg, #1a1a1a, #7c0000);
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-image-2 {
  width: 66px;
  height: 66px;
  margin: -8px auto 0 20px;
}

.u-section-1 .u-text-3 {
  font-weight: 300;
  font-family: Shentox_Regular;
  font-size: 1.5rem;
  margin: -46px 57px 0 auto;
}

.u-section-1 .u-group-4 {
  height: auto;
  --radius: 15px;
  min-height: 58px;
  width: 494px;
  transition-duration: 0.5s;
  background-image: linear-gradient(270deg, #1a1a1a, #333333);
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-image-3 {
  width: 65px;
  height: 65px;
  margin: -7px auto 0 20px;
}

.u-section-1 .u-text-4 {
  font-weight: 300;
  font-family: Shentox_Regular;
  font-size: 1.5rem;
  margin: -46px 122px 0 auto;
}

.u-section-1 .u-group-5 {
  height: auto;
  --radius: 15px;
  min-height: 58px;
  transition-duration: 0.5s;
  width: 494px;
  background-image: linear-gradient(270deg, #491a00, #340e00);
  margin: 20px 35px 0 auto;
}

.u-section-1 .u-container-layout-5 {
  padding-left: 20px;
  padding-right: 30px;
}

.u-section-1 .u-image-4 {
  width: 65px;
  height: 65px;
  margin: -7px auto 0 0;
}

.u-section-1 .u-text-5 {
  font-weight: 300;
  font-family: Shentox_Regular;
  font-size: 1.5rem;
  margin: -46px 108px 0 auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-size: auto 110%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 756px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-group-5 {
    height: auto;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-image-4 {
    margin-top: 1px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -42px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 579px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 434px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -11px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
    margin-top: -31px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 273px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }

  .u-section-1 .u-group-3 {
    width: 340px;
  }

  .u-section-1 .u-group-4 {
    width: 340px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 84px;
  }

  .u-section-1 .u-group-5 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 73px;
  }
}

.u-section-1 .u-group-3,
.u-section-1 .u-group-3:before,
.u-section-1 .u-group-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-group-3.u-group-3.u-group-3:hover:before {
  background-color: #db545a !important;
}

.u-section-1 .u-group-3:before {
  background-image: linear-gradient(270deg, #7c0000, #ff0000) !important;
}

.u-section-1 .u-group-3.u-group-3.u-group-3:hover {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-section-1 .u-group-3.u-group-3.u-group-3.hover {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-section-1 .u-group-2,
.u-section-1 .u-group-2:before,
.u-section-1 .u-group-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-group-2.u-group-2.u-group-2:hover:before {
  background-color: #db545a !important;
}

.u-section-1 .u-group-2:before {
  background-image: linear-gradient(270deg, #7c0000, #ff0000) !important;
}

.u-section-1 .u-group-2.u-group-2.u-group-2:hover {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-section-1 .u-group-2.u-group-2.u-group-2.hover {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-section-1 .u-group-4,
.u-section-1 .u-group-4:before,
.u-section-1 .u-group-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-group-4:before {
  background-image: linear-gradient(270deg, #808080, #999999) !important;
}

.u-section-1 .u-group-4.u-group-4.u-group-4:hover {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-section-1 .u-group-4.u-group-4.u-group-4.hover {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-section-1 .u-group-5,
.u-section-1 .u-group-5:before,
.u-section-1 .u-group-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-group-5:before {
  background-image: linear-gradient(90deg, #491a00, #999999) !important;
}

.u-section-1 .u-group-5.u-group-5.u-group-5:hover {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-section-1 .u-group-5.u-group-5.u-group-5.hover {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@keyframes smoothHeader {
  from { opacity: 0; }
  to { opacity: 1; }
}
