.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("/images/CS-ShitPlein.png");
}

.u-section-1 .u-sheet-1 {
  min-height: 762px;
}

.u-section-1 .u-image-1 {
  width: 330px;
  height: 330px;
  margin: 169px auto 0;
}

.u-section-1 .u-text-1 {
  margin: 31px auto 0;
}

.u-section-1 .u-line-1 {
  width: 387px;
  transform-origin: left center 0px;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: 10px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 628px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 481px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 361px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 227px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }
}
.u-section-2 .u-text-1 {
  line-height: 1.28;
  margin: 38px auto 60px;
}
